@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --primary-color: #0057ff;
  --lighter-color: #ffffff11;
  --rim-color: #333333;

  --highlight-color: rgba(var(--foreground-rgb), 1);
  --text-color: rgba(var(--foreground-rgb), 0.8);
  --secondary-color: rgba(153, 153, 153, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: var(--text-color);
  background: #000;
}

button, input[type="submit"], input[type="reset"] {
  cursor: pointer;
}

button, input, input[type="submit"], input[type="reset"] {
  color: inherit;
  border: none;
  font: inherit;
  outline: inherit;
}
